# Introduction
This is a test for doing some basic ETL on data.

## The Goal
The goal of this task is to take a pair excel files, load them into SQL, and then transform the dataset into a separate schema (called FHIR).

### Input data
The input data is an pair of excel files with patient information in it. Each file represents an extract of a data system, each made a month apart. Each file includes patients discharged during the last two months, so the data will have intersecting data points, but the union of the two is really what you want.  In the boilerplate code below, you can see the file paths and open them up in excel to browse it if you'd like. Feel free to ask questions about the file formatting.

# Exercise

## Load into SQL
First, begin by loading the data into a SQL database. We have Postgres running for you already, so use that. 
Username: carta
Password: password

The data should be a union of the data in both extract files, with an update time corresponding to the newest update date available for each row.

## Transform into FHIR

After the data is loaded into SQL, you'll produce some FHIR resources from the data. In particular, there are two resources you'll make:

1) Patient
2) Encounter

Both of those are defined on the FHIR website, here: http://fhir.org. We will do a validation on the data once it's done!

In [1]:
import pandas as pd
import numpy as np
from carta_interview import Datasets, get_data_file
import psycopg2 as ps
import json

In [2]:
patient_extract1 = get_data_file(Datasets.PATIENT_EXTRACT1)
patient_extract2 = get_data_file(Datasets.PATIENT_EXTRACT2)

In [3]:
print(patient_extract1)
print(patient_extract2)

/home/jovyan/data/patients-extract1.xlsx
/home/jovyan/data/patients-extract2.xlsx

In [4]:
patients_extract_file1 = r'/home/jovyan/data/patients-extract1.xlsx'
df1= pd.read_excel(patients_extract_file1)
print(df1,'\n',df1.shape,'\n',df1.describe())

   MRN  Encounter ID First Name Last Name  Birth Date       Admission D/T  \
0    1          1234       John       Doe  01/02/1999  04/12/2002 5:00 PM
1    2          2345     Joanne       Lee  04/19/2002  04/19/2002 7:22 PM
2    3          3456  Annabelle     Jones  01/02/2001  04/21/2002 5:00 PM

         Discharge D/T          Update D/T
0  04/13/2002 10:00 PM  04/24/2002 6:00 AM
1   04/20/2002 6:22 AM  04/24/2002 6:00 AM
2   04/23/2002 2:53 AM  04/24/2002 6:00 AM
 (3, 8)
        MRN  Encounter ID
count  3.0           3.0
mean   2.0        2345.0
std    1.0        1111.0
min    1.0        1234.0
25%    1.5        1789.5
50%    2.0        2345.0
75%    2.5        2900.5
max    3.0        3456.0

In [5]:
patients_extract_file2 = r'/home/jovyan/data/patients-extract2.xlsx'
df2 = pd.read_excel(patients_extract_file2)
print(df2,'\n',df2.shape,'\n',df2.describe())

   MRN  Encounter ID First Name Last Name  Birth Date       Admission D/T  \
0   20           987      Jerry     Jones  01/02/1988  05/01/2002 2:00 PM
1    2          2345     Cosmia       Lee  04/19/2002  04/19/2002 7:22 PM
2    3          3456  Annabelle     Jones  01/02/2001  04/21/2002 5:00 PM

        Discharge D/T          Update D/T
0  05/02/2002 9:00 PM  05/17/2002 6:00 AM
1  04/20/2002 6:22 AM  05/17/2002 6:00 AM
2  04/23/2002 2:53 AM  05/17/2002 6:00 AM
 (3, 8)
              MRN  Encounter ID
count   3.000000      3.000000
mean    8.333333   2262.666667
std    10.115994   1236.557453
min     2.000000    987.000000
25%     2.500000   1666.000000
50%     3.000000   2345.000000
75%    11.500000   2900.500000
max    20.000000   3456.000000

In [6]:
#patient_extract1 Union patient_extract2
Unionall_data = pd.concat([df1,df2],ignore_index=True)
Unionall_data

,MRN,Encounter ID,First Name,Last Name,Birth Date,Admission D/T,Discharge D/T,Update D/T
0,1,1234,John,Doe,01/02/1999,04/12/2002 5:00 PM,04/13/2002 10:00 PM,04/24/2002 6:00 AM
1,2,2345,Joanne,Lee,04/19/2002,04/19/2002 7:22 PM,04/20/2002 6:22 AM,04/24/2002 6:00 AM
2,3,3456,Annabelle,Jones,01/02/2001,04/21/2002 5:00 PM,04/23/2002 2:53 AM,04/24/2002 6:00 AM
3,20,987,Jerry,Jones,01/02/1988,05/01/2002 2:00 PM,05/02/2002 9:00 PM,05/17/2002 6:00 AM
4,2,2345,Cosmia,Lee,04/19/2002,04/19/2002 7:22 PM,04/20/2002 6:22 AM,05/17/2002 6:00 AM
5,3,3456,Annabelle,Jones,01/02/2001,04/21/2002 5:00 PM,04/23/2002 2:53 AM,05/17/2002 6:00 AM

In [7]:

# #rename columns headers
Unionall_data.rename(columns={'Encounter ID':'EncounterID',
                          'First Name':'First_Name',
                          'Last Name':'Last_Name',
                          'Birth Date':'Birth_Date',
                          'Admission D/T':'Admission_DT',
                          'Discharge D/T':'Discharge_DT',
                             'Update D/T':'Update_DT'}, 
                 inplace=True)
 
print(Unionall_data.columns)
 
Unionall_data.head(3)

Index(['MRN', 'EncounterID', 'First_Name', 'Last_Name', 'Birth_Date',
       'Admission_DT', 'Discharge_DT', 'Update_DT'],
      dtype='object')

,MRN,EncounterID,First_Name,Last_Name,Birth_Date,Admission_DT,Discharge_DT,Update_DT
0,1,1234,John,Doe,01/02/1999,04/12/2002 5:00 PM,04/13/2002 10:00 PM,04/24/2002 6:00 AM
1,2,2345,Joanne,Lee,04/19/2002,04/19/2002 7:22 PM,04/20/2002 6:22 AM,04/24/2002 6:00 AM
2,3,3456,Annabelle,Jones,01/02/2001,04/21/2002 5:00 PM,04/23/2002 2:53 AM,04/24/2002 6:00 AM

In [8]:
# Unionall_data['Update_DT'] =pd.to_datetime(Unionall_data.Update_DT)

# Unionall_data.sort_values(by=['Update_DT'],ascending=False)
Unionall_data= Unionall_data.sort_values(by=['Update_DT'],ascending=False).drop_duplicates(['Birth_Date','EncounterID'],keep='first')
Unionall_data

,MRN,EncounterID,First_Name,Last_Name,Birth_Date,Admission_DT,Discharge_DT,Update_DT
3,20,987,Jerry,Jones,01/02/1988,05/01/2002 2:00 PM,05/02/2002 9:00 PM,05/17/2002 6:00 AM
4,2,2345,Cosmia,Lee,04/19/2002,04/19/2002 7:22 PM,04/20/2002 6:22 AM,05/17/2002 6:00 AM
5,3,3456,Annabelle,Jones,01/02/2001,04/21/2002 5:00 PM,04/23/2002 2:53 AM,05/17/2002 6:00 AM
0,1,1234,John,Doe,01/02/1999,04/12/2002 5:00 PM,04/13/2002 10:00 PM,04/24/2002 6:00 AM

In [9]:
import sqlalchemy

engine = sqlalchemy.create_engine('postgresql://carta:password@localhost/carta')
con=engine.connect()
engine.execute("Drop Table IF EXISTS patient_extract")
Unionall_data.to_sql('patient_extract',con,if_exists='append',index=False)
print(engine.table_names())

['patient_extract']

In [10]:
import datetime
df_ = pd.read_sql_table('patient_extract', con) 
df_['Birth_Date'] = pd.to_datetime(df_['Birth_Date'])

#print(df_['Birth_Date'].strftime('%Y-%m-%d'))
df_

,MRN,EncounterID,First_Name,Last_Name,Birth_Date,Admission_DT,Discharge_DT,Update_DT
0,20,987,Jerry,Jones,1988-01-02,05/01/2002 2:00 PM,05/02/2002 9:00 PM,05/17/2002 6:00 AM
1,2,2345,Cosmia,Lee,2002-04-19,04/19/2002 7:22 PM,04/20/2002 6:22 AM,05/17/2002 6:00 AM
2,3,3456,Annabelle,Jones,2001-01-02,04/21/2002 5:00 PM,04/23/2002 2:53 AM,05/17/2002 6:00 AM
3,1,1234,John,Doe,1999-01-02,04/12/2002 5:00 PM,04/13/2002 10:00 PM,04/24/2002 6:00 AM

In [11]:
con.close()

In [12]:
###Patient json
import pandas as pd
df_['Birth_Date'] = pd.to_datetime(df_['Birth_Date'])
df_['Admission_DT'] = pd.to_datetime(df_['Admission_DT'])
df_['Discharge_DT'] = pd.to_datetime(df_['Discharge_DT'])

for index, row in df_.iterrows():
    dob= row['Birth_Date'].strftime('%Y-%m-%d')
    admission=row['Admission_DT'].strftime('%Y-%m-%dT%H-%M:%S')
    discharge=row['Discharge_DT'].strftime('%Y-%m-%dT%H-%M:%S')
    patient_ref= 'Patient/'+str(row['MRN'])
    name=row['First_Name'] + ' '+ row['Last_Name']
    patient = {
    "resourceType":"Patient",
    "name": [
        {
            "use": "usual",
            "given": [row['First_Name']],
            "family": row['Last_Name']
        }
    ],
    "birthDate": dob,
    
    "identifier": [
        {
            "id": row['MRN']

        }
    ]
    }
    ###encounter json
    encounter= {
     "resourceType":"Encounter",
     "identifier": [
         {
             "id": row['EncounterID']
         }
     ],
     "period": {
         "start": admission,
         "end": discharge
     },
     "status": "finished",
     "subject": {
         "reference": patient_ref,
         "display": name
     },
     "class": {
         "system": "http://terminology.hl7.org/CodeSystem/v3-ActCode",
         "code": "IMP",
         "display": "inpatient encounter"
       }
 }

# convert into JSON:
    y = json.dumps(patient,indent=4)
    filename='patient'+str(index)+'.json'
    f=open(filename,'w')
    f.write(y)
    f.close()
    
    
    
# the result is a JSON string:
    
    y = json.dumps(encounter,indent=4)
    filename='encounter'+str(index)+'.json'
    f=open(filename,'w')
    f.write(y)
    f.close()